/.vs/tinyVR/v17
/.vscode
/bin
/bin-int
/GMM_GPU/resources/data
/IOT/IOT.vcxproj.user
/IOT/IOT.vcxproj.filters
/IOT/IOT.vcxproj
/IOT/imgui.ini
/App/App.vcxproj
/App/App.vcxproj.filters
/App/App.vcxproj.user
/App/imgui.ini
/tinyVR/vendor
/tinyVR/tinyVR.vcxproj.user
/tinyVR/tinyVR.vcxproj.filters
/tinyVR/tinyVR.vcxproj
/tinyVR.sln
/.vs/tinyVR/FileContentIndex
include/*.zip

.vscode

*.exe
